body {
  background: rgb(231, 231, 231);
  min-height: 100vh;
  text-align: center;
  overflow-x: hidden;
}
* {
  box-sizing: border-box;
  margin: 0;
}

main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
button {
  margin-top: 2rem;
  font-size: 2rem;
  border: 0;
  outline: 0;
  background: inherit;
  cursor: pointer;
  border-radius: 10px;
  color: rgb(180, 115, 30);
  transition: 0.3s;
}
button:hover {
  background-color: burlywood;
  color: #fff;
}
div:not(#root) {
  padding: 5rem;
}
div h1 {
  position: relative;
  bottom: 2rem;
  font-size: 2rem;
  color: rgb(41, 62, 77);
}
div > p {
  font-size: 1.6rem;
  line-height: 2.5rem;
}
.author-div {
  width: 90%;
  height: 200px;
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  height: 200px;
  align-items: center;
  gap: 20px;
  scroll-behavior: smooth;
  margin-left: 10rem;
}
.author-div h4 {
  color: rgb(180, 115, 30);
  transition: 0.2s;
  cursor: pointer;
  height: auto;
  font-size: 1.2rem;
  border-radius: 5px;
  padding: 5px;
}
.author-div h4:not(h4:nth-child(1)) {
  height: min-content;
}
.author-div h4:hover {
  background-color: burlywood;
  color: #fff;
}
h4:nth-child(1) {
  font-size: 3rem;
  position: fixed;
  height: auto;
  left: 4rem;
}
h4.active {
  background-color: burlywood;
  color: #fff;
}
@media only screen and (2000px > width > 1301px) {
  h4:nth-child(1) {
    left: 2.8rem;
  }
}
@media only screen and (max-width: 1300px) {
  h4:nth-child(1) {
    position: fixed;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
  }
  .author-div {
    position: relative;
    top: 120px;
    margin-left: 0px;
    overflow-y: hidden;
  }
  .author-div h4:not(h4:nth-child(1)) {
    margin-left: 0px;
    position: relative;
    right: 80px;
  }
  button {
    position: relative;
    top: 150px;
    font-size: 3rem;
  }
  .quotesDiv {
    position: relative;
    top: 150px;
  }
}
